.tab-cli textarea[name='commands']::placeholder {
    color: silver;
}

.tab-cli textarea[name='commands'] {
    background: rgb(32, 31, 31);
    color: rgb(219, 219, 219);
}

/* AutoComplete */
.cli-textcomplete-dropdown {
    background-color: #393b3a;
}
.cli-textcomplete-dropdown a {
    color: rgb(219, 219, 219);
}
.cli-textcomplete-dropdown .active {
    background-color: var(--quietHeader);
}
